/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */



/* ---- IMPORTS, BASICS, & VARIABLES ---- */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Merienda:wght@300..900&display=swap');

:root {
    --brown: #624F41;
    --dark-brown: #3f332a;
    --orange: #AD560B;
    --tan: #E6EAAE;
    --light-green: #0B5B1E;
    --dark-green: #053906;
}

body {
    width: 1280px;
    max-width: 100%;
    margin: auto;
    background-color: var(--tan);
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 5rem;
    font-family: "Merienda", cursive;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
    font-family: "Merienda", cursive;
}

h3 {
    font-weight: 300;
    font-size: 1.5rem;
    font-family: "Merienda", cursive;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
}



/* ---- HEADER ---- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brown);
    color: var(--tan);
    padding-top: 50px;
    position: relative;
}

header h1 {
    padding-bottom: 20px;
}



/* ---- DARK MODE ---- */

/* BUTTON STYLES */
.lighting-toggle {
    position: absolute; 
    top: 10px;
    right: 10px;
    z-index: 20;
    padding: 10px 30px;
    background-color: var(--light-green);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    color: var(--tan);
}

.lighting-toggle .slider {
    position: absolute;
    background-color: var(--tan);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.5s ease;
}

.lighting-toggle.active {
    background-color: var(--dark-green);
}

.lighting-toggle.active .slider {
    background-color: var(--orange);
    transform: translateY(-50%) translateX(85px); 
}

/* DARK MODE STYLES */
body.dark-mode {
    background-color: var(--dark-green);
    color: var(--tan);
}

body.dark-mode nav a {
    background-color: var(--light-green);
    color: var(--tan);
}

body.dark-mode nav a:hover {
    background-color: var(--dark-green);
}

body.dark-mode #learn {
    background-color: var(--brown);
}

body.dark-mode #weather {
    background-color: var(--brown);
}

body.dark-mode #weather div {
    background-color: var(--dark-brown);
}

body.dark-mode #accordion h3:hover {
    background-color: var(--light-green);
}



/* ---- NAV ---- */
nav h2 {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    display: inline-flex;
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-weight: 200;
    font-size: 1.5rem;
    background-color: var(--orange);
    color: var(--tan);
    transition: 0.5s ease;
}

nav a:hover {
    background-color: var(--light-green);
}



/* ---- ABOUT SECTION ---- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#about p {
    padding: 20px;
    width: 80%;
}



/* ---- LEARN SECTION ---- */
#learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: var(--orange);
    padding-top: 30px;
    padding-bottom: 30px;
}

#learn img {
    width: 400px;
    height: auto;
}

#learn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

#learn p {
    padding: 20px;
}



/* ---- GALLERY SECTION ---- */
#gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    position: relative;
    width: 80%;
    margin: auto;
}

#gallery p {
    padding: 20px;
    width: 80%;
    margin: auto;
}

/* ---- STYLES FOR JAVASCRIPT: SLIDESHOW RELATED FEATURES ---- */
#slideshow {
    position: relative;
    width: 100%;
}

.mySlides img {
    width: 100%;
    display: block;
}

.prev {
    position: absolute;
    top: 50%;
    background-color: var(--dark-green);
    color: var(--tan);
    border: 1px solid var(--tan);
    border-radius: 5px;
    padding: 80px 20px;
    cursor: pointer;
    z-index: 100;
    left: 0;
}

.next {
    position: absolute;
    top: 50%;
    background-color: var(--dark-green);
    color: var(--tan);
    border: 1px solid var(--tan);
    border-radius: 5px;
    padding: 80px 20px;
    cursor: pointer;
    z-index: 100;
    right: 0;
}

.next:hover, .prev:hover {
    background-color: var(--light-green);
}



/* ---- WEATHER SECTION ---- */
#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    background-color: var(--orange);
    padding-top: 30px;
    padding-bottom: 30px;
}

#weather h2 {
    padding-bottom: 20px;
}

#weather p {
    padding: 20px;
}

/* ---- STYLES FOR JAVASCRIPT: API RELATED FEATURES ---- */
#weather div {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    margin: auto;
    background-color: var(--brown);
}

#weather button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--tan);
    cursor: pointer;
}

#weather button:hover {
    background-color: var(--dark-green);
}

#weather input {
    padding: 8px;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
}

#weatherResult h3 {
    padding-bottom: 10px;
}

#weatherResult p {
    font-size: 1.25rem;
    padding: 5px;
}



/* ---- FUN FACTS SECTION ---- */
#facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0 30px 0;
}

#facts h2 {
    padding-bottom: 30px;
    padding-top: 20px;
}

/* ---- STYLES FOR JAVASCRIPT: ACCORDION RELATED FEATURES ---- */
#accordion {
    background-color: var(--brown);
    color: var(--tan);
    text-align: left;
    width: 75%;
    margin: auto;
}

#accordion h3 {
    cursor: pointer;
    padding: 20px;
    margin: auto;
    transition: 0.5s ease;
    text-align: center;
}

#accordion h3:hover {
    background-color: var(--orange);
}

#accordion p {
    display: none;
    padding: 20px;
    margin: auto;
    background-color: var(--dark-brown);
}

#accordion p.active {
    display: block;
}



/* ---- FOOTER ---- */
footer {
    background-color: var(--orange);
    color: var(--tan);
    padding: 30px;
}
